{% extends "base_email.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div>
    <h4>{{ provider.name}}</h4>
    <h4>RFC: {{ provider.rfc }}</h4>
  </div>

  <table style="width:100%">
    <th>Clave</th>
    <th>Producto</th>
    <th>Presentación</th>
    <th>Laboratorio</th>
    <th>Precio anterior</th>
    <th>Precio nuevo</th>
    <th>Diferencia precio</th>
    <th>%</th>
    {% for product in products %}
      <tr {% if product.price_diff <= 0 %} style="background-color: #50d941" {% else %} style="background-color: #ede728" {% endif %}>
        <td>
          {{ product.key }}
        </td>
        <td>
          {{ product.name }}
        </td>
        <td>
          {{ product.presentation }}
        </td>
        <td>
          {{ product.laboratory.name }}
        </td>
        <td>
          $ {{ product.old_price }}
        </td>
        <td>
          $ {{ product.price}}
        </td>
        <td>
          $ {{ product.price_diff }}
        </td>
        <td>
          {{ product.diff_percentage }} %
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

