{% extends "base_email.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div>
    <h4>{{ provider.name}}</h5>
    <h4>RFC: {{ provider.rfc }}</h4>
  </div>
  <h4>Se solicitó la actualización del producto:</h4>
  <table style="width:100%">
    <tr>
      <th>
        Atributo
      </th>
      <th>
        Valor
      </th>
    </tr>
    <tr>
      <td>Nombre</td>
      <td>{{ product.name }}</td>
    </tr>
    <tr>    
      <td>Presentación</td>
      <td>{{ product.presentation }}</td>
    </tr>
    <tr>    
      <td>Laboratorio</td>
      <td>{{ product.laboratory }}</td>
    </tr>
    <tr>    
      <td>Categoría</td>
      <td>{{ product.category }}</td>
    </tr>
    <tr>    
      <td>Precio</td>
      <td>{{ product.price }}</td>
    </tr>
    <tr>    
      <td>Estado</td>
      <td>{{ product.status }}</td>
    </tr>
    {% if product.status == 'Rechazado' %}
    <tr>    
      <td>Razón de rechazo</td>
      <td>{{ product.reject_reason }}</td>
    </tr>
    {% endif %}
  </table>
{% endblock %}

